<div class="customers view indent">
    <div class="container">
        <header>
            <h3>
                {{ pageTitle }}
            </h3>
        </header>
        <br />
        <div class="row">
            <a class="btn btn-primary btn-sm pull-right" [routerLink]="['/products', '0']">Add New Product</a>
        </div>
        <div class="row">
            <div class="col-md-1">Filter by:</div>
            <div class="col-md-2">
                <input type="text" [(ngModel)]="listFilter" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="table-responsive">
                <table class="table" *ngIf="products && products.length">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of filteredProducts">
                            <td> <a [routerLink]="['/products', product.id ]"> {{ product.name }} </a> </td>
                            <td> {{ product.price }}</td>
                            <td> {{ product.quantity }}</td>
                            <td> {{ getType(product.type) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>